


$primary_1: url('./image.jpg');
$primary_2: #f2e77d;
$primary_3: #3087f1;
$primary_4: #35c3d6;
$primary_5: #4f4b27;
$primary_6: #093e7f;
$primary_7: #80dfec;
$primary_8: #b2ad7f;
$primary_9: #4c6083;
$primary_10: #a2b9bc;
$primary_11: #9ccd61;
$primary_12: #0850a9;
$primary_13: #eded23;
$primary_14: #e9940b;
$primary_15: #e9690d;
$primary_16: #8311c6;
$primary_17: #dfca0a;
$primary_18: #730b98;
$primary_19: #a90b72;
$primary_20: #a10a6c;
$primary_21: #f01d91;
$primary_22: #54050a;
$primary_23: #54bd09;
$primary_24: #0cb333;
$primary_25: #ebb70e;
$primary_26: #d45a0e;
$primary_27: #690aa8;
$primary_28: #a2b9bc;
$primary_29: #ef0f0f;
$primary_30: #9cd109;
$rang: #c10cd9;
$ranah: 400px;
$ranaw: 100%;
#rana1{
    width: $ranaw;
    height: $ranah;
    background-color:  $rang; 
}
#rana2{
    width: $ranaw;
    height: $ranah;
    background-color:  $rang;
}
#rana3{
    width: $ranaw;
    height: $ranah;
    background-color:  $rang;
}
#rana4{
    width: $ranaw;
    height: $ranah;
    background-color:  $rang;

}
#rana5{
    width: $ranaw;
    height: $ranah;
    background-color:  $rang;
}
#rana6{
    width: $ranaw;
    height: $ranah;
    background-color:  $rang;
}
#rana7{
    width: $ranaw;
    height: $ranah;
    // background-color:  $rang;    
}
#rana8{
    width: $ranaw;
    height: $ranah;
    background-color:  $rang;
}
#rana9{
    width: $ranaw;
    height: $ranah;
    background-color:  $rang;    
}
#rana10{
    width: $ranaw;
    height: $ranah;
    background-color:  $rang;
}
#rana11{
    width: $ranaw;
    height: $ranah;
    background-color:  $rang;    
}
#rana12{
    width: 100%;
}
#rana13{
    width: 100%;
}
#rana14{
    width: 100%;
}
#rana15{
    width: 100%;
}
#rana16{
    width: 100%;
}
#rana17{
    width: 100%;
}
#rana18{
    width: 100%;
}
#rana19{
    width: 100%;
}
#rana20{
    width: 100%;
}
#rana21{
    width: 100%;
}
#rana22{
    width: 100%;
}
#rana23{
    width: 100%;
}
#rana24{
    width: 100%;
}
#rana25{
    width: 100%;
}
#rana26{
    width: 100%;
}
#rana27{
    width: 100%;
}
#rana28{
    width: 100%;
}
#rana29{
    width: 100%;
}
#rana30{
    width: 100%;
}

